Sprints - Project Development Phase/Sprint 4/flows.json
[{"id":"62c65e3f2b905024","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d0d7b8704457e331","type":"ibmiot in","z":"62c65e3f2b905024","authentication":"apiKey","apiKey":"42a262ea7c334d39","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3c7c3f5b666d","applicationId":"","deviceType":"RPI","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":200,"wires":[["3a3b3f398be9f3fd","076f575aa9f740e7","dee5421dfbad1303","97e562011837d3ea","b82023fa5c82f486","eee2ab89fb91d6e8","4e111a40e1eadc4f","e713bf8780da6b99"]]},{"id":"3a3b3f398be9f3fd","type":"debug","z":"62c65e3f2b905024","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"076f575aa9f740e7","type":"function","z":"62c65e3f2b905024","name":"temperature1","func":"global.set(\"temperature1\",msg.payload.d.temperature1)\nmsg.payload=msg.payload.d.temperature1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":60,"wires":[["cd27fd5f33d3dec4"]]},{"id":"6c6369590d55cd2f","type":"http in","z":"62c65e3f2b905024","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":280,"y":500,"wires":[["6e7d7386c504f5c5"]]},{"id":"f78d92abc80bf538","type":"http response","z":"62c65e3f2b905024","name":"","statusCode":"","headers":{},"x":910,"y":500,"wires":[]},{"id":"6e7d7386c504f5c5","type":"function","z":"62c65e3f2b905024","name":"http payload","func":"msg.payload={'temperature1':global.get(\"temperature1\"),'temperature2':global.get(\"temperature2\"),'temperature3':global.get(\"temperature3\"),'temperature4':global.get(\"temperature4\"),'temperature5':global.get(\"temperature5\"),'temperature6':global.get(\"temperature6\"),'temperature7':global.get(\"temperature7\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":500,"wires":[["f78d92abc80bf538"]]},{"id":"c1d6cb964af79bc3","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"f53cf0b464b98325","order":0,"width":0,"height":0,"gtype":"gage","title":"Site 3","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":140,"wires":[]},{"id":"cd27fd5f33d3dec4","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"f53cf0b464b98325","order":1,"width":0,"height":0,"gtype":"gage","title":"Site 1","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":60,"wires":[]},{"id":"a4516797cf8d24e5","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"f53cf0b464b98325","order":2,"width":0,"height":0,"gtype":"gage","title":"Site 2","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":100,"wires":[]},{"id":"97eea5a657067e4d","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"24a4284ba484b572","order":3,"width":0,"height":0,"gtype":"gage","title":"Site 6","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":380,"wires":[]},{"id":"6fdaa81d224b56a6","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"24a4284ba484b572","order":4,"width":0,"height":0,"gtype":"gage","title":"Site 7","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":420,"wires":[]},{"id":"b1ed9a06fba0e435","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"7aa9c2b92afb2683","order":0,"width":0,"height":0,"gtype":"gage","title":"Site 5","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":320,"wires":[]},{"id":"2590d99f2a87c4be","type":"ui_gauge","z":"62c65e3f2b905024","name":"","group":"7aa9c2b92afb2683","order":1,"width":0,"height":0,"gtype":"gage","title":"Site 4","label":"°C","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":280,"wires":[]},{"id":"dee5421dfbad1303","type":"function","z":"62c65e3f2b905024","name":"temperature2","func":"global.set(\"temperature2\",msg.payload.d.temperature2)\nmsg.payload=msg.payload.d.temperature2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":100,"wires":[["a4516797cf8d24e5"]]},{"id":"97e562011837d3ea","type":"function","z":"62c65e3f2b905024","name":"temperature3","func":"global.set(\"temperature3\",msg.payload.d.temperature3)\nmsg.payload=msg.payload.d.temperature3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":140,"wires":[["c1d6cb964af79bc3"]]},{"id":"b82023fa5c82f486","type":"function","z":"62c65e3f2b905024","name":"temperature4","func":"global.set(\"temperature4\",msg.payload.d.temperature4)\nmsg.payload=msg.payload.d.temperature4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":280,"wires":[["2590d99f2a87c4be"]]},{"id":"eee2ab89fb91d6e8","type":"function","z":"62c65e3f2b905024","name":"temperature5","func":"global.set(\"temperature5\",msg.payload.d.temperature5)\nmsg.payload=msg.payload.d.temperature5\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":320,"wires":[["b1ed9a06fba0e435"]]},{"id":"4e111a40e1eadc4f","type":"function","z":"62c65e3f2b905024","name":"temperature6","func":"global.set(\"temperature6\",msg.payload.d.temperature6)\nmsg.payload=msg.payload.d.temperature6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":380,"wires":[["97eea5a657067e4d"]]},{"id":"e713bf8780da6b99","type":"function","z":"62c65e3f2b905024","name":"temperature7","func":"global.set(\"temperature7\",msg.payload.d.temperature7)\nmsg.payload=msg.payload.d.temperature7\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["6fdaa81d224b56a6"]]},{"id":"42a262ea7c334d39","type":"ibmiot","name":"","keepalive":"60","serverName":"csgusn.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f53cf0b464b98325","type":"ui_group","name":"Production","tab":"14f2af8045df9b5b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"24a4284ba484b572","type":"ui_group","name":"Transport","tab":"14f2af8045df9b5b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7aa9c2b92afb2683","type":"ui_group","name":"Assembly","tab":"14f2af8045df9b5b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"14f2af8045df9b5b","type":"ui_tab","name":"Industrial Plant Monitor","icon":"dashboard","disabled":false,"hidden":false}]